/*So-creative*/
.text-danger {
    color: #dc3545 !important;
}
.text-success {
    color: #28a745!important;
}
.text-warning {
    color: #ffc107!important;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
/*Header CSS */
.register-header-btn, .login-header-btn {
    padding: 10px 35px !important;
    margin-top: 0px !important;
    display: flex;
    align-items: center;
    color: #fff !important;
}
.header-main .navbar-brand {
    max-width: 18vw;
}
/* Customer Dashboard Start CSS*/
.header-dashboard {
    box-shadow: 1px 2px 4px rgba(0,0,0,.109804);
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 11;
    background: #FFF;
}
.dashboard-logo {
    display: block;
    margin-right: 20px;
}
.dashboard-logo img {
    max-width: 75%;
}
.menus-customer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.currency-menus, .currency-menus .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px !important;
}
.currency-menus select {
    background: transparent;
    border: .0625rem solid #ced4da;
    margin: 0px 10px;
    height: 2.25rem;
    padding: 0px .75rem;
    border-radius: .5rem;
    text-align: left;
    width: 9rem;
}
.menus-header ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px !important;
}
.menus-header ul li a {
    padding: 10px 10px;
    color: #222222;
    font-size: 15px;
    font-weight: 600;
}
.account-overview {
    background: #222222;
}
.main-dashboard-container {
    padding-top: 68px !important;
}
.main-dashboard {
    min-height: calc(100vh - 4rem);
    background: #fff;
    padding: 25px 25px;
}
.main-dashboard-container .sidebar .user .user-avatar {
    max-width: 60%;
    margin: 0 auto;
}
.main-dashboard-container .sidebar{
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}
.sidebar .user-avatar {
    display: grid;
}
.main-dashboard-container .sidebar .user .user-avatar img {
    border: 2px solid #fff;
    background-color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.main-dashboard-container .sidebar .user h3 {
    font-size: 1.4em;
    margin-top: 20px;
    color: #fff;
}
.main-dashboard-container .sidebar ul {
    margin: 60px 0 60px 0px;
    text-align: left;
    list-style: none;
    padding: 0px;
}
.main-dashboard-container .sidebar ul li{
    margin-bottom: 15px;
}
.main-dashboard-container .sidebar ul li a{
    font-size: 16px;
    color: #808c96;
    transition: 0.5s;
}
.main-dashboard-container .sidebar ul li a:hover{
    color: #30a8d5 ;
    text-decoration: none;
}
.main-dashboard-container .sidebar ul li a i {
    margin-right: 10px;
}
.main-dashboard .page-title {
    margin-bottom: 20px;
}
.main-dashboard .page-title h1 {
    font-size: 2rem;
}
.card-section {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ebebeb;
}
.card-section .card-sec-title h2 {
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #222;
    margin-bottom: 1.5rem;
}
.card-section .line-entry.change-avatar {
    margin: 40px 0;
    margin-bottom: 30px;
}
.card-section .change-avatar .user-avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
    display: grid;
}
.card-section .change-avatar img {
    border-radius: 8px;
    border: 3px solid #efefef;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.card-section .change-avatar .upload {
    text-align: center;
    width: 100%;
}
.card-section .upload input[type=file] {
    width: 0!important;
    height: 0!important;
    opacity: 0!important;
}
#details-tabs {
    margin-top: 0px;
    border: none;
}
#details-tabs li button {
    border: none;
    background: #fff;
    outline: none;
    margin-right: 0px;
    padding: 10px 10px;
    border-bottom: 1px solid #fff;
    font-size: 16px !important;
    font-weight: 500;
}
#details-tabs li button.active,
#details-tabs li button:active,
#details-tabs li button:focus,
#details-tabs li button:hover{
    border-bottom: 1px solid #e2b71c !important;
}
.main-dashboard .table thead tr th,
.main-dashboard .table tbody tr td  {
    white-space: nowrap;
}
.main-dashboard .table .td-actions button {
    padding: 0px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 34px;
    text-align: center;
    margin: 0px 3px;
    color: #fff;
}
.main-dashboard .table .td-actions button.btn-success {
    background: #28a745!important;
}
.main-dashboard .table .td-actions button.btn-danger {
    background: #dc3545!important;
}
.main-dashboard .table .td-actions button:hover,
.main-dashboard .table .td-actions button:focus,
.main-dashboard .table .td-actions button:active{
    box-shadow: none !important;
    background: #222222 !important;
}
.main-dashboard .table .td-actions button i {
    font-size: 13px;
}
/* Customer Dashboard End CSS*/

/*Single Booking Page CSS Start*/
.boat-title .rating-menus {
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.boat-title .rating-menus li svg{
    margin-right: 5px;
}
.boat-title .rating-menus li svg path {
    fill: #e2b71c;
}
.share-menu {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: end;
}
.share-menu li {
    margin-left: 20px;
}
.share-menu li a {
    color: #222;
}
.share-menu li a:hover{
    text-decoration: none;
}
.boat-banner-sec .col-md-6 {
    padding: 0px 2px;
}
.banner-first-image a {
    width: 100%;
    display: block;
    height: 450px;
}
.banner-first-image a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-grid-image {
    display: grid;
    grid-template-areas: 'photo1 photo2'
        'photo3 photo4';
    /* max-width: 36.2rem; */
    gap: .25rem;
    width: 100%;
    height: 100%;
    position: relative;
}
.banner-grid-image a {
    display: block;
    width: 100%;
    height: 223px;
}
.banner-grid-image a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.view-more-photos {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.banner-grid-image  .view-more-photos a {
    height: auto;
    background: #fff;
    color: #222;
    padding: 7px 10px;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: none;
}
.boat-content-sec .col-md-8 {
    padding-left: 0px;
    padding-right: 88px;
}
.boat-card-content-sec {
    border-bottom: 1px solid #ebebeb;
    padding: 1rem 0;
}
.specification-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.specification-content h3 {
    font-size: 1rem;
    color: #222;
}
.specification-menus {
    display: flex;
    padding: 0px;
    list-style: none;
    margin-bottom: 0px;
}
.specification-menus li {
    padding: 0px 20px 0px 0px;
    position: relative;
}
.specification-menus li:after {
    content: '';
    position: absolute;
    top: 12px;
    width: 3px;
    height: 3px;
    background: #222;
    border-radius: 50%;
    right: 9px;
}
.specification-menus li:last-child:after{
    display: none;
}
.specification-user-image {
    width: 52px;
    height: 52px;
    position: relative;
    cursor: pointer;
}
.specification-user-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.specification-user-badge {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #e9f5f2;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 .125rem #fff;
}
.specification-user-badge i {
    color: #35a6d0;
    font-size: 12px;
}
.keyinfo-sec {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.keyinfo-sec .keyinfo-icon {
    margin-right: 15px;
}
.keyinfo-texts h4 {
    font-size: 1rem;
    margin-bottom: 0px;
}
.keyinfo-texts  p {
    margin-bottom: 0px;
}
.ideas-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,minmax(0,1fr));
    width: 100%;
    margin-bottom: 10px;
}
.ideas-box {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    border-radius: .5rem;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    background: #fff;
    border: .0625rem solid #ced4da;
    transition: 0.5s;
}
.ideas-box a {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
}
.ideas-box:hover{
    box-shadow: 0 .125rem .5rem #00000014;
}
.ideas-img {
    width: 27%;
    height: 80px;
}
.ideas-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ideas-content {
    width: 73%;
    padding: 0px .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ideas-content h5 {
    font-size: 1rem;
    margin-bottom: 0px;
    line-height: 1.5rem;
}
.ideas-content p{
    margin-bottom: 0px;
    color: #222;
}
.equip-menus {
    padding: 0px;
    margin: 20px 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}
.equip-menus li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(50% - .5rem);
}
.equip-menus li svg {
    margin-right: 10px;
}
.equip-button-sec {
    margin-bottom: 20px;
}
.features-menus {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    margin: 20px 0px;
}
.features-menus li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(50% - .5rem);
}
.features-menus li strong{
    margin-left: 10px;
}
.boat-right-sec {
    padding: 50px 0px;
}
.boat-right-sec .card{
    box-shadow: 0 .5rem 2.5rem .25rem rgba(42, 43, 45, 0.17) !important;
/*    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;*/
    border: .0625rem solid #ebebeb;
    background: #fff;
    border-radius: .25rem;
}
/*Single Booking Page CSS End*/
/* Checkout Page CSS Start*/
.checkout-section {
    padding: 50px 0px;
}
.checkout-title h1 {
    font-size: 2rem;
    color: #222;
    margin-bottom: 30px;
}
.checkout-title h1 .btn-back {
    border: .0625rem solid #ced4da;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    color: #000;
    font-size: 20px;
}
.rental-type-sec h4 {
    font-size: 1.25rem;
    margin-bottom: 25px;
}
.rental-form {
    margin-bottom: 30px;
}
.rental-form form {
    border: .0625rem solid #ced4da;
    border-radius: .5rem;
}
.rental-form .row {
    margin: 0px;
}
.rental-form .col-md-12{
    padding: 0px;
}
.rental-form .col-md-12 label{
    border: .0625rem solid #ced4da;
    border-radius: .5rem;
    margin-bottom: 0px;
}
.rental-form .col-md-12 input[type="radio"]:checked + label {
    border: .0625rem solid #30a8d5 !important;
}
.rental-form .col-md-12 label {
    width: 100%;
    display: block;
    padding: 15px;
    position: relative;
}
.rental-form .col-md-12 label:before {
    content: " ";
    display: block;
    border-radius: 50%;
    border: 2px solid #30a8d5;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.5s;
}
.rental-form .col-md-12 label:after {
    background: #30a8d5;
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 14px;
    transition-duration: 0.5s;
    opacity: 0;
}
.rental-form .col-md-12 input[type="radio"]:checked + label::before {
    content: "";
    border: 2px solid #30a8d5;
}
.rental-form .col-md-12 input[type="radio"]:checked + label::after {
    opacity: 1;
}
.rental-form .col-md-12 input[type="radio"][id^="myRadio"] {
    display: none;
}
.rental-form .col-md-12 label .title-label {
    display: block;
    padding: 0px 15px;
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.rental-form .col-md-12 label .title-text{
    padding: 0px 15px;
     display: block;
}

.options-form {
    margin-bottom: 30px;
}
.options-form .row {
    margin: 0px;
}
.options-form .col-md-12{
    padding: 0px;
}
.options-form .col-md-12 label{
    border: .0625rem solid #ced4da;
    border-radius: .5rem;
    margin-bottom: 10px;
}
.options-form .col-md-12 input[type="checkbox"]:checked + label {
    border: .0625rem solid #30a8d5 !important;
}
.options-form .col-md-12 label {
    width: 100%;
    display: flex;
    padding: 0px;
    position: relative;
    flex-direction: row;
    overflow: hidden;
}
.options-form .col-md-12 label:before {
    content: " ";
    display: block;
    border-radius: 0px;
    border: 2px solid #30a8d5;
    position: absolute;
    top: 30%;
    right: 10px;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 20px;
    transition-duration: 0.5s;
}
.options-form .col-md-12 input[type="checkbox"]:checked + label::before {
    content: "✓";
    color: #fff;
    background: #30a8d5;
    font-weight: 500;
}

.options-form .col-md-12 input[type="checkbox"][id^="myCheckbox"] {
    display: none;
}
.options-form .col-md-12 label .title-label {
    display: block;
    padding: 0px 15px;
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.options-form .col-md-12 label .title-text{
    padding: 0px 15px;
     display: block;
}
.option-icon {
    display: flex;
    align-items: center;
    background: #eaf9ff;
    padding: 10px;
}
.option-box {
    padding: 10px 15px;
}
.insurence-title{
    position: relative;
}
.insurence-title h4, .pay-title h4 {
    margin-bottom: 10px;
}
.insurence-title img {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    max-width: 12%;
}
.notes-insurence {
    display: flex;
    background: #e2f2fc;
    border-radius: .5rem;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}
.notes-insurence svg path {
    fill: #44b1d9;
}
.notes-insurence p {
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: 600;
    padding-left: 20px;
}
.insurance-form {
    margin-bottom: 30px;
}
.insurance-form .row {
    margin: 0px;
}
.insurance-form .col-md-12{
    padding: 0px;
}
.insurance-form .col-md-12 input[type="radio"]:checked + label {
    border: .0625rem solid #30a8d5 !important;
}
.insurance-form .col-md-12 label {
    width: 100%;
    display: block;
    padding: 15px 35px;
    position: relative;
    border: .0625rem solid #ced4da;
    border-radius: .5rem;
    margin-bottom: 15px;
}
.insurance-form .col-md-12 label:before {
    content: " ";
    display: block;
    border-radius: 50%;
    border: 2px solid #30a8d5;
    position: absolute;
    top: 20px;
    left: 10px;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.5s;
}
.insurance-form .col-md-12 label:after {
    background: #30a8d5;
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    left: 14px;
    transition-duration: 0.5s;
    opacity: 0;
}
.insurance-form .col-md-12 input[type="radio"]:checked + label::before {
    content: "";
    border: 2px solid #30a8d5;
}
.insurance-form .col-md-12 input[type="radio"]:checked + label::after {
    opacity: 1;
}
.insurance-form .col-md-12 input[type="radio"][id^="myRadio"] {
    display: none;
}
.insurance-form .col-md-12 label .title-label {
    display: block;
    padding: 0px 15px;
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.insurance-form .col-md-12 label .title-text{
    padding: 0px 15px;
     display: block;
}
.insurance-form .col-md-12 label p {
    margin-bottom: 0px;
    padding: 10px 15px 10px 15px;
}
.insurance-form .col-md-12 label ul {
    list-style: none;
    padding: 10px 15px 0px 15px;
    margin-bottom: 0px;
}
.insurance-form .col-md-12 label ul li{
    padding-bottom: 10px;
}
.insurance-form .col-md-12 label ul li i {
    margin-right: 7px;
    color: #44b1d9;
}
.insurance-form .col-md-12 label ul li i.fas.fa-times {
    color: #dd4d93;
}
.insurance-form .col-md-12 label a{
    margin-left: 15px;
}
.insurance-form .col-md-12 label a:hover{
    color: #30a8d5;
}
.payment-sec {
    margin-bottom: 30px;
    border-bottom: .0625rem solid #ced4da;
    padding-bottom: 30px;
}
.payment-sec form {
    padding:0px;
    border: .0625rem solid #ced4da;
    border-radius: .5rem;
}
.payment-sec form .form-accordion-title {
    border-bottom: .0625rem solid #ced4da;
    padding: 15px 15px;
    margin-bottom: 0px !important;
}
.payment-sec form .form-accordion-title:last-child{
    border-bottom: 0px solid #ced4da;
}
.payment-sec form .form-accordion-title label.custom-control-label {
    display: flex;
    flex-direction: row;
    font-weight: 600;
}
.payment-sec form .form-accordion-title label.custom-control-label svg, 
.payment-sec form .form-accordion-title label.custom-control-label img {
    max-width: 18px;
    width: 18px !IMPORTANT;
    margin-right: 10px;
}
.payment-sec form .form-accordion-title .custom-radio input[type="radio"]:checked + label {
    color: #44b1d9;
}
.cancellation-sec {
    margin-bottom: 30px;
    border-bottom: .0625rem solid #ced4da;
    padding-bottom: 30px;
}
.cancellation-sec p {
    margin-bottom: 5px;
}
.cancellation-sec a:hover {
    color: #30a8d5;
}
.customer-service-sec {
    margin-bottom: 30px;
    border-bottom: .0625rem solid #ced4da;
    padding-bottom: 30px;
}
.customer-service-sec .custom-icon-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.customer-service-sec .custom-icon-box:last-child{
     margin-bottom: 0px;
}
.custom-icon {
    display: flex;
    width: 43px;
    height: 43px;
    justify-content: center;
    background: #d5f4ff;
    border-radius: 10px;
    align-items: center;
    margin-right: 20px;
}
.custom-icon i {
    color: #44b1d9;
    font-size: 22px;
}
.custom-text {
    display: flex;
    align-items: center;
}
.custom-text h3 {
    margin-bottom: 0px !important;
    font-size: 1rem;
    font-weight: 500;
}
.review-order-sec, .price-details-sec{
    border-radius: .5rem;
    margin-bottom: 1.5rem;
    border: .0625rem solid #ebebeb;
    padding: 1.5rem;
}
.order-details {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.order-text h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0px;
}
.order-text p{
    margin-bottom: 0px;
}
.order-img {
    width: 40%;
    border-radius: .5rem;
    overflow: hidden;
}
.order-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.date-order-sec {
    border-top: .0625rem solid #ebebeb;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap:1rem;
}
.date-order-sec .date-icon {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-order-sec .date-text {
    width: 85%;
}
.date-order-sec .date-text p{
    margin-bottom: 0px;
}
.date-icon i {
    font-size: 30px;
    color: #30a8d5;
}
.date-order-sec .date-text p span {
    color: #30a8d5;
}
.price-tables, .price-total {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.price-heading {
    font-size: 16px;
}
.price-amount {
    color: #44b1d9;
    font-weight: 700;
}
.price-total .price-heading {
    font-weight: 800;
}
.promotional-sec {
    padding: 10px 0px;
    text-align: right;
}
.promotional-sec a{
    font-size: 20px;
}
.promotional-sec a:hover{
    color: #30a8d5;
}
.pay-downpayment-sec .card-body {
    padding: 0px;
}
.pay-downpayment-sec {
    border-top: .0625rem solid #ebebeb;
    margin-top: 20px;
    padding-top: 20px;
}
.payment-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.circle.active {
    background-color: #007bff;
    color: white;
}
.payment-content {
    flex: 1;
}
.payment-amount {
    font-weight: bold;
    color: #333;
}
/* Checkout Page CSS End*/



@media (min-width: 320px) and (max-width: 767px) {
    .banner-first-image a {
        height: 250px;
        margin-bottom: 4px;
    }
    .banner-grid-image a {
    height: 120px;
}
.boat-content-sec .col-md-8 {
    padding-left: 15px;
    padding-right: 15px;
}
.ideas-grid {
    grid-template-columns: repeat(1,minmax(0,1fr));
}
.review-order-sec, .price-details-sec {
    margin-top: 1.5rem;
}
}

/* Dashboard CSS */
.b-about .b-main-filter__item input {
    height: 59px;
    padding-top: 19px;
    padding-bottom: 19px;
    background: #f5f5f5;
    border: none;
    padding: 0px 20px;
    color: #999;
    width: 96%;
}
.b-about .b-main-filter__item input::placeholder {
  color: #999;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 60px;
    line-height: 60px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    right: 6px;
}
.b-about .b-main-filter__item .form-control{
    padding-right: 30px;
}
.b-about .b-main-filter__item .fa-search{
    color: #000;
}
.discover_btn {
    background: #329fc7;
    padding: 18px 35px;
    display: unset;
    color: #fff !important;
    position: absolute;
    margin-top: 15px;
    font-weight: 600;
}
.view_our_blogs_btn {
    text-align: center;
}
.view_our_blogs_btn a{
    background: #329fc7;
    padding: 18px 35px;
    display: unset;
    font-weight: 600;
    color: #fff;
}
.community_section{
    margin-top: 60px;
}
.community_section img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}
.community_box a:hover img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}
.community_box {
    position: relative;
    margin: 0 0 30px 0px;
    overflow: hidden;
}
.community_box h3 {
    position: absolute;
    bottom: 5px;
    left: 15px;
    color: #fff;
    z-index: 999;
    font-size: 24px;
}
.community_section a:after {
    position: absolute;
    background: #000000a1;
    width: 100%;
    height: 360px;
    top: 0;
    right: 0;
    content: "";
}
.press_logo_img{
    margin-top: 40px;
}
.comm_col_1 {
    margin-top: -35px;
}
.boat_renter_section h3{
    padding-top: 30px   ;
}
.boat_renter_section {
    margin-bottom: 70px;
}
.boat_renter_section p {
    margin-bottom: 15px;
}
.boat_renter_section    .yacht_btn {
    padding: 0px 0px;
    color: #329fc7 !important;
    font-weight: 700;
    margin-top: 10px !important;
    display: inline-block;
}
.boat_renter_box img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.b-offers-nevica a:hover{
    color: #30a8d5;
}
.main-dashboard .nav-tabs .nav-link {
    margin-right: 10px;
}
.main-dashboard .tab-pane label {
    padding: 15px 0 0px 0px;
}
.main-dashboard h4{
    padding-top: 30px;
}
.main-dashboard .btn-set {
    padding: 24px 4px 0px 15px;
    margin-left: auto;
}
.main-dashboard  .btn-set button {
    margin: 0 10px 0px 0px;
    background: #30a8d5;
    color: #fff;
}
.main-dashboard  .btn-set button:hover{
    background:#e2b71c;
}
.main-dashboard  .upload label {
    padding: 17px 19px !important;
}
.main-dashboard .nav-tabs {
    margin-bottom: 0px;
}
.main-dashboard .list-group-item a {
    font-weight: 600;
}
.main-dashboard .alert {
    margin-top: 15px;
}
.main-dashboard .add_newf_row {
    margin-left: -14px;
    background: #30a8d5;
    color: #fff;
    padding: 12px 15px;
}
.main-dashboard .add_newf_row:hover{
    background:#e2b71c;
}
#uploade-cover-image img {
    width: 40%;
    height: 200px;
    object-fit: cover;
}
.uploaded_img img{
    width: 100% !important;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}
.uploaded_img {
    padding: 0 15px 0 30px;
}
.remove-btn {
    border: 0px solid #30a8d5;
    cursor: pointer;
     position: absolute;
    right: 5px;
    top: 7px;
    background: none;
}
.remove-btn i {
    font-size: 30px;
    background: #30a8d5;
    border-radius: 50%;
    color: #fff;
}
.remove-btn i:hover{
    background: #e2b71c;
}
.remove-btn:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.cover_img_sec input#file-input {
    padding: 15px 20px;
}
.dropzone {
    border: 0px !important;
    min-height: 60px !important;
    background: #f4f4f4 !important;
    border-radius: 5px;
    margin-bottom: 15px;
}
.dropzone .dz-message {
    margin: 0 !important;
}
.uploaded_img .col-md-4.image-container {
    padding: 15px 15px 0px 0px;
    position: relative;
}
.equipment_Sec label {
    padding: 15px 15px 0px 0px !important;
}
.active_inactive_btn .componentsBox {
    padding: 50px;
    border-bottom: 1px solid #e5e5e5;
}
.active_inactive_btn .title h2 {
    font-size: 30px;
    color: #6f7d34;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 35px;
}
.active_inactive_btn .componentsBox .content {
    margin-bottom: 20px;
}
.active_inactive_btn .m5 {
    margin: 0 5px;
}

.active_inactive_btn  .switch {
     display: inline-block;
}
.active_inactive_btn  .switch input {
     display: none;
}
.active_inactive_btn .switch small {
    display: inline-block;
    width: 80px;
    height: 25px;
    background: #222222;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}
.active_inactive_btn .switch small:after {
     content: "Inactive";
     position: absolute;
     color: #fff;
     font-size: 14px;
     font-weight: 600;
     width: 100%;
     left: 0px;
     text-align: right;
     padding: 0 6px;
     box-sizing: border-box;
     line-height: 21px;
}
.active_inactive_btn .switch small:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    top: 5px;
    left: 3px;
    transition: .3s;
    box-shadow: -3px 0 3px rgba(0,0,0,0.1);
}
.active_inactive_btn .switch input:checked ~ small {
     background: #30a8d5;
     transition: .3s;
}
.active_inactive_btn .switch input:checked ~ small:before {
     transform: translate(59px, 0px);
     transition: .3s;
}
.active_inactive_btn .switch input:checked ~ small:after {
     content: "Active";
     text-align: left;
}
.active_inactive_btn .switchSmall {
     display: inline-block;
}
.list-group-flush{
    list-style: none;
}
.active_inactive_btn {
    margin: 10px 0px 0px 15px;
}
.edit_profile_sec .form-control {
    padding: 15px 0px 0 20px;
}
.equipment_sec label {
    padding: 3px 11px 0px 6px !important;
}
.list_edit_card a:hover{
    color: #e4d183;
}
.profile_save_btn {
    text-align: right;
}
.action_buttons {
    padding-top: 56px;
}
.remove_newf_row {
    background: #30a8d5;
    color: #fff;
}
.remove_newf_row:hover{
    background: #e2b71c;
}