/* 
    Web design by : So-creative
 */

 @font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Regular.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
	box-sizing:border-box;
}
::selection {
    background-color: #ff7c00;
    color: #fff;
}
p {
    font-size: 14px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    line-height:26px !important;
    font-weight:400;
}
ol,
ul,
li {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden !important;
}

html {
    scroll-behavior: smooth;
}
a{
     font-family: 'Open Sans', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight:700 !important;
}